
# Assignment 01: Evaluate the GDP Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

#### 1: View and add the dataset

In [1]:
#Import required library
import numpy as np
import pandas as pd
from io import StringIO

In [72]:
#Manually add the dataset
columns = list(np.arange(1,63))
#data = pd.read_csv('Countries with GDP.txt')
data = pd.read_csv('Countries with GDP.txt',header=None)
data[['Index',0]] = data[0].str.split(':',expand=True)
data = data
data = data.drop('Index',axis=1)
data

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,'Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan',...,'Sweden','Switzerland','Thailand','United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'
1,2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,...,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605

In [74]:
countries = np.array(data.values[0])
GDPs = np.array(data.values[1]).astype(float)
countries, GDPs, GDPs.max()

(array([" 'Algeria'", "'Angola'", "'Argentina'", "'Australia'",
        "'Austria'", "'Bahamas'", "'Bangladesh'", "'Belarus'", "'Belgium'",
        "'Bhutan'", "'Brazil'", "'Bulgaria'", "'Cambodia'", "'Cameroon'",
        "'Chile'", "'China'", "'Colombia'", "'Cyprus'", "'Denmark'",
        "'El Salvador'", "'Estonia'", "'Ethiopia'", "'Fiji'", "'Finland'",
        "'France'", "'Georgia'", "'Ghana'", "'Grenada'", "'Guinea'",
        "'Haiti'", "'Honduras'", "'Hungary'", "'India'", "'Indonesia'",
        "'Ireland'", "'Italy'", "'Japan'", "'Kenya'", " 'South Korea'",
        "'Liberia'", "'Malaysia'", "'Mexico'", " 'Morocco'", "'Nepal'",
        "'New Zealand'", "'Norway'", "'Pakistan'", " 'Peru'", "'Qatar'",
        "'Russia'", "'Singapore'", "'South Africa'", "'Spain'", "'Sweden'",
        "'Switzerland'", "'Thailand'", " 'United Arab Emirates'",
        "'United Kingdom'", "'United States'", "'Uruguay'", "'Venezuela'",
        "'Vietnam'", "'Zimbabwe'"], dtype=object),
 array([ 2255.225482 ,   629.9553062, 11601.63022  , 25306.82494  ,
        27266.40335  , 19466.99052  ,   588.3691778,  2890.345675 ,
        24733.62696  ,  1445.760002 ,  4803.398244 ,  2618.876037 ,
          590.4521124,   665.7982328,  7122.938458 ,  2639.54156  ,
         3362.4656   , 15378.16704  , 30860.12808  ,  2579.115607 ,
         6525.541272 ,   229.6769525,  2242.689259 , 27570.4852   ,
        23016.84778  ,  1334.646773 ,   402.6953275,  6047.200797 ,
          394.1156638,   385.5793827,  1414.072488 ,  5745.981529 ,
          837.7464011,  1206.991065 , 27715.52837  , 18937.24998  ,
        39578.07441  ,   478.2194906, 16684.21278  ,   279.2204061,
         5345.213415 ,  6288.25324  ,  1908.304416 ,   274.8728621,
        14646.42094  , 40034.85063  ,   672.1547506,  3359.517402 ,
        36152.66676  ,  3054.727742 , 33529.83052  ,  3825.093781 ,
        15428.32098  , 33630.24604  , 39170.41371  ,  2699.123242 ,
        21058.43643  , 28272.40661  , 37691.02733  ,  9581.05659  ,
         5671.912202 ,   757.4009286,   347.7456605]),
 40034.85063)

#### 2: Find and print the name of the country with the highest GDP

In [75]:
#Use the argmax() method to find the highest GDP
max_gdp_per_capita = GDPs.argmax()
max_gdp_per_capita

45

In [76]:
#Print the name of the country
countries[max_gdp_per_capita]

"'Norway'"

#### 3: Find and print the name of the country with the lowest GDP

In [77]:
#Use the argmin() method to find the lowest GDP
min_gdp_per_capita = GDPs.argmin()
min_gdp_per_capita

21

In [78]:
#Print the name of the country
countries[min_gdp_per_capita]

"'Ethiopia'"

#### 4: Print out text ('evaluating country') and input value ('country name') iteratively

In [79]:
#Use a for loop to print the required output
for country in countries:
    print('eculating country {}'.format(country))

eculating country  'Algeria'
eculating country 'Angola'
eculating country 'Argentina'
eculating country 'Australia'
eculating country 'Austria'
eculating country 'Bahamas'
eculating country 'Bangladesh'
eculating country 'Belarus'
eculating country 'Belgium'
eculating country 'Bhutan'
eculating country 'Brazil'
eculating country 'Bulgaria'
eculating country 'Cambodia'
eculating country 'Cameroon'
eculating country 'Chile'
eculating country 'China'
eculating country 'Colombia'
eculating country 'Cyprus'
eculating country 'Denmark'
eculating country 'El Salvador'
eculating country 'Estonia'
eculating country 'Ethiopia'
eculating country 'Fiji'
eculating country 'Finland'
eculating country 'France'
eculating country 'Georgia'
eculating country 'Ghana'
eculating country 'Grenada'
eculating country 'Guinea'
eculating country 'Haiti'
eculating country 'Honduras'
eculating country 'Hungary'
eculating country 'India'
eculating country 'Indonesia'
eculating country 'Ireland'
eculating country 'Italy'
eculating country 'Japan'
eculating country 'Kenya'
eculating country  'South Korea'
eculating country 'Liberia'
eculating country 'Malaysia'
eculating country 'Mexico'
eculating country  'Morocco'
eculating country 'Nepal'
eculating country 'New Zealand'
eculating country 'Norway'
eculating country 'Pakistan'
eculating country  'Peru'
eculating country 'Qatar'
eculating country 'Russia'
eculating country 'Singapore'
eculating country 'South Africa'
eculating country 'Spain'
eculating country 'Sweden'
eculating country 'Switzerland'
eculating country 'Thailand'
eculating country  'United Arab Emirates'
eculating country 'United Kingdom'
eculating country 'United States'
eculating country 'Uruguay'
eculating country 'Venezuela'
eculating country 'Vietnam'
eculating country 'Zimbabwe'

#### 5: Print out the entire list of the countries with their GDPs

In [80]:
#Use a for loop to print the required list
for i in range(len(countries)):
    country = countries[i]
    country_gdp_per_capita = GDPs[i]
    print('country {} per capita gdp is {} '.format(country,country_gdp_per_capita))

country  'Algeria' per capita gdp is 2255.225482
country 'Angola' per capita gdp is 629.9553062
country 'Argentina' per capita gdp is 11601.63022
country 'Australia' per capita gdp is 25306.82494
country 'Austria' per capita gdp is 27266.40335
country 'Bahamas' per capita gdp is 19466.99052
country 'Bangladesh' per capita gdp is 588.3691778
country 'Belarus' per capita gdp is 2890.345675
country 'Belgium' per capita gdp is 24733.62696
country 'Bhutan' per capita gdp is 1445.760002
country 'Brazil' per capita gdp is 4803.398244
country 'Bulgaria' per capita gdp is 2618.876037
country 'Cambodia' per capita gdp is 590.4521124
country 'Cameroon' per capita gdp is 665.7982328
country 'Chile' per capita gdp is 7122.938458
country 'China' per capita gdp is 2639.54156
country 'Colombia' per capita gdp is 3362.4656
country 'Cyprus' per capita gdp is 15378.16704
country 'Denmark' per capita gdp is 30860.12808
country 'El Salvador' per capita gdp is 2579.115607
country 'Estonia' per capita gdp is 6525.541272
country 'Ethiopia' per capita gdp is 229.6769525
country 'Fiji' per capita gdp is 2242.689259
country 'Finland' per capita gdp is 27570.4852
country 'France' per capita gdp is 23016.84778
country 'Georgia' per capita gdp is 1334.646773
country 'Ghana' per capita gdp is 402.6953275
country 'Grenada' per capita gdp is 6047.200797
country 'Guinea' per capita gdp is 394.1156638
country 'Haiti' per capita gdp is 385.5793827
country 'Honduras' per capita gdp is 1414.072488
country 'Hungary' per capita gdp is 5745.981529
country 'India' per capita gdp is 837.7464011
country 'Indonesia' per capita gdp is 1206.991065
country 'Ireland' per capita gdp is 27715.52837
country 'Italy' per capita gdp is 18937.24998
country 'Japan' per capita gdp is 39578.07441
country 'Kenya' per capita gdp is 478.2194906
country  'South Korea' per capita gdp is 16684.21278
country 'Liberia' per capita gdp is 279.2204061
country 'Malaysia' per capita gdp is 5345.213415
country 'Mexico' per capita gdp is 6288.25324
country  'Morocco' per capita gdp is 1908.304416
country 'Nepal' per capita gdp is 274.8728621
country 'New Zealand' per capita gdp is 14646.42094
country 'Norway' per capita gdp is 40034.85063
country 'Pakistan' per capita gdp is 672.1547506
country  'Peru' per capita gdp is 3359.517402
country 'Qatar' per capita gdp is 36152.66676
country 'Russia' per capita gdp is 3054.727742
country 'Singapore' per capita gdp is 33529.83052
country 'South Africa' per capita gdp is 3825.093781
country 'Spain' per capita gdp is 15428.32098
country 'Sweden' per capita gdp is 33630.24604
country 'Switzerland' per capita gdp is 39170.41371
country 'Thailand' per capita gdp is 2699.123242
country  'United Arab Emirates' per capita gdp is 21058.43643
country 'United Kingdom' per capita gdp is 28272.40661
country 'United States' per capita gdp is 37691.02733
country 'Uruguay' per capita gdp is 9581.05659
country 'Venezuela' per capita gdp is 5671.912202
country 'Vietnam' per capita gdp is 757.4009286
country 'Zimbabwe' per capita gdp is 347.7456605

#### 6: Print the following:
1. Highest GPD value
2. Lowest GDP value
3. Mean GDP value
4. Standardized GDP value
5. Sum of all the GDPs

In [81]:
f"1. Highest GDP value {GDPs.max()}"

'1. Highest GDP value 40034.85063'

In [82]:
f"2. Lowest GDP value {GDPs.min()}"

'2. Lowest GDP value 229.6769525'

In [83]:
f"3. Mean GDP value {GDPs.mean()}"

'3. Mean GDP value 11289.409271639683'

In [84]:
f"4. Standardized GDP value {GDPs.std()}"

'4. Standardized GDP value 12743.828910617945'

In [85]:
f"5. Sum of all the GDPs {GDPs.sum()}"

'5. Sum of all the GDPs 711232.7841133'